

<%-include("partials/header.ejs")%>

<h1>HOME</h1>



 <% data.forEach(function(ip){%>

       <%var y=ip.postdata;%>
        
 
  <h2><%=ip.titledata%></h2>
    <p><%=y+"...."%><a href="http://localhost:3000/post/<%= ip.titledata%>" >Read more</a></p>
  

 <%});%>

  

  

<%-include("partials/footer.ejs")%>